main .container{

    background-color: rgb(202, 121, 121);
    border-radius: 10px;
    width: 70%;
   margin: 0 auto;
   height: 20%;
   text-align: center;
   
}

.home-hero a{
    background-color:#0f760f ;
    border-radius: 20px;
    padding: 0 10px;
    
    

}